::
var m = array_to_object(p.props),
u = p.user[0],
id = p._id;
::

<tr class="hover">
    :: view("lib.page-list-item-checkbox", {id}) ::
    <td class="title">
        <a href="post?id=::id::">::p.title::</a>
        <div class="action hover-show text-upper">
            <a href="#">Edit</a>
            <span></span>
            <a class="delete" href="#">Delete</a>
        </div>
    </td>
    <td class="author">
        <a href="user?id=::u._id::">::u.name.first:: ::u.name.last::</a>
    </td>
    <td class="category"></td>
    <td class="tags"></td>
    <td class="time">::timeAgo(p.createdAt)::</td>
</tr>