{{ var p = array_to_object(u.props, true); }}
{{ var s = array_to_object(u.search, true); }}

{{ for(var i = 0; i < 15; i++){ }} <div class="full half-1000">
    <div class="user-item flex two">
        <div class="left text-center mp0 relative">
            <label for="checkbox" class="block relative full h100">
                <input class="block absolute full" type="checkbox" name="checkbox" value="{{ u._id }}">
                <span class="checkable block absolute full"></span>
                <span class="img block absolute center"
                    style="background-image: url(https://i1.sndcdn.com/artworks-000156946087-lzbdaw-t500x500.jpg);"></span>
            </label>
        </div>
        <div class="right">
            <div class="user-name">
                <span data-role="{{ p.role }}">{{ s.name }}</span>
            </div>
            <div class="user-username empty">{{ s.username }}</div>
            <ul class="user-contact empty-child">
                <li>{{ p.email }}</li>
                <li>{{ p.phone }}</li>
            </ul>
            <div class="user-action">
                <span><a class="spa" href="/admin/user-edit?id={{u._id}}">Edit</a></span>
                <span><a href="#" class="delete delete-user" data-action="delete" data-id="{{u._id}}">Delete</a></span>
                <span><a class="spa" href="/admin/user?id={{u._id}}">View</a></span>
                {{ if(p.email){ }}
                <span><a href="/admin/sendmail?id={{u._id}}" class="spa">Send Mail</a></span>
                {{ } }}
            </div>
        </div>
    </div>
    </div>
    {{ } }}