::
var p = array_to_object(u.login, true),
id = u._id;
::

<tr class="hover">
    :: view("lib.page-list-item-checkbox", {id}) ::
    <td class="avatar">
        <img src="https://i1.sndcdn.com/artworks-000156946087-lzbdaw-t500x500.jpg" class="mp0 full">
    </td>
    <td class="title">
        <a href="user?id=::id::" target="_blank" class="nowrap">:: u.public.username ::</a>
        <div class="action hover-show text-upper">
            <a href="user-edit?id=::id::" target="_blank">Edit</a>
            <span></span>
            <a class="delete" href="/api/user-edit?id=::id::">Delete</a>
        </div>
    </td>
    <td class="author">
        <a href="user?id=::id::" target="_blank">:: u.public.fullname ::</a>
    </td>
    <td class="content">
        :: if(p.email){ ::
        <div>:: p.email ::</div>
        <div class="action hover-show">
            <a href="sendmail?id=::id::" class="sendmail">Send mail</a>
        </div>
        :: } ::
        :: p.phone ::
    </td>
    <td class="role">:: u.public.role ::</td>
    <td class="time">:: timeAgo(u.public.createdAt) ::</td>
</tr>