<form class="flex three-1000" action="#" method="post" id="form-new-post">
    <div class="full two-third-1000">
        <div class="flex">
            <h4>Tạo bài viết mới</h4>
            <div class="text-r">
                {{ view("tpl.new-post-select-action") }}
            </div>
        </div>
        <label for="title">
            <span>Tiêu đề</span>
            <input type="text" name="title" placeholder="Tiêu đề bài viết" required>
        </label>
        <label for="content">
            <span>Nội dung</span>
            <div class="textarea" id="new-post-content" placeholder="Nội dung bài viết" contenteditable>
            </div>
        </label>
        {{ hook("admin:new-post:main") }}
        <div class="text-r">
            {{ view("tpl.new-post-select-action") }}
        </div>
    </div>
    <div>
        {{ hook("admin:new-post:bar") }}
    </div>
</form>