{{
view("lib.page-list", {

header: {
title: "Plugins",
},

links: [
{href: "?", text: "Tất cả", count: plugin.count_all},
{href: "?list=active", text: "Kích hoạt", count: plugin.count_active},
{href: "?list=noactive", text: "Không kích hoạt", count: plugin.count_deactive}
],

action: {
name: "action",
label: "Hành động",
options: {
"active": "Kích hoạt",
"deactive": "Hủy kích hoạt"
},
},

table: {
td: ["Tên", "Mô tả", "Tác giả"],
list: map(plugin.list, (p) => view("list.plugin", { p }))
},

})
}}