{{
view("lib.page-list", {

action: {
name: "action",
label: "Hành động",
options: {
"publish": "Xuất bản",
"drash": "Lưu nháp"
},
},

header: {
title: "Tất cả bài viết",
link: {
href: "/admin/post-new",
text: "Viết bài mới"
},
},

links: [
{href: "", text: "Tất cả", count: 0},
{href: "?status=publish", text: "Đã đăng", count: 0},
{href: "?status=dash", text: "Nháp", count: 0},
{href: "?status=trash", text: "Thùng rác", count: 0}
],

table: {
td: ["Tiêu đề", "Tác giả", "Danh mục", "Thẻ", "Thời gian"],
list: map(posts, (p) => view("list.post", { p }))
},

})
}}