<div class="dropdown select">
    <label>
        <span>Action</span>
    </label>
    <div class="dropdown-content">
        <label for="action" class="relative block full">
            <input type="radio" name="action" value="" class="absolute full">
            <span>Item 1</span>
        </label>
        <label for="action" class="relative block full">
            <input type="radio" name="action" value="" class="absolute full">
            <span>Item 2</span>
        </label>
        <label for="action" class="relative block full">
            <input type="radio" name="action" value="" class="absolute full">
            <span>Item 2</span>
        </label>
    </div>
</div>