::
view("lib.page-list", {

header: {
title: "Plugins",
},

links: [
{href: "?", text: "Tất cả", count: plugins.count.all},
{href: "?list=active", text: "Kích hoạt", count: plugins.count.active},
{href: "?list=noactive", text: "Không kích hoạt", count: plugins.count.deactive}
],

action: {
name: "action",
label: "Hành động",
options: {
"active": "Kích hoạt",
"deactive": "Hủy kích hoạt"
}
},

table: {
td: ["Tên", "Mô tả", "Tác giả"],
list: map(plugins.list, (p) => view("list.plugin", { p }))
}
})
::