<div class="header text-left">
    <h3 style="padding: auto 10px;">Viết bài mới</h3>
</div>

<form action="#" class="flex one three text-left" id="form-new-post">
    <div class="left one two-third-1000">

        <div class="field">
            <span>Tiêu đề</span>
            <input type="text" name="title" class="input block full">
        </div>

        <div class="field">
            <span>Link bài viết</span>
            <div class="input-group">
                <input type="text" name="slug" class="input">
                <input class="button" type="button" value="Tạo" id="create-slug">
            </div>
        </div>

        <div class="field">
            <span>Mô tả</span>
            <textarea class="textarea" id="description"></textarea>
        </div>

        <div class="field">
            <span>Nội dung</span>
            <div class="textarea editor" id="content"></div>
        </div>
    </div>
    <div class="right">
        <div class="card props">
            <header class="props-box arrow">Đăng bài viết</header>
            <footer class="hide">
                <a href="#" class="delete">Chuyển vào thùng rác ?</a>
                <button>Đăng bài viết</button>
            </footer>
        </div>
        <div class="card props">
            <header class="props-box arrow">Danh mục</header>
            <footer class="hide">
                <a href="#" class="delete">Chuyển vào thùng rác ?</a>
                <button>Đăng bài viết</button>
            </footer>
        </div>
        <div class="card props">
            <header class="props-box arrow">Thẻ</header>
            <footer class="hide">
                <a href="#" class="delete">Chuyển vào thùng rác ?</a>
                <button>Đăng bài viết</button>
            </footer>
        </div>
        <div class="card props">
            <header class="props-box arrow">Các thuộc tính</header>
            <footer class="hide">
                <a href="#" class="delete">Chuyển vào thùng rác ?</a>
                <button>Đăng bài viết</button>
            </footer>
        </div>
    </div>
</form>