::
view("lib.page-list", {

action: {
name: "action",
label: "Hành động",
options: {
"publish": "Xuất bản",
"drash": "Lưu nháp"
}
},

header: {
title: "Users",
link: {
href: "user-new",
text: "Add new"
}
},

links: [
{href: "?", text: "Tất cả", count: users.count.all},
{href: "?role=admin", text: "Admin", count: users.count.admin},
{href: "?role=user", text: "Users", count: users.count.user}
],

table: {
td: ["", "Username", "Tên", "Liên hệ", "Loại", "Thời gian"],
list: map(users.list, (u) => view("list.user", { u }))
}

})
::