<div class="login">
    <h2>Login</h2>
    <form class="login-form">

        <div class="field">
            <input type="text" id="username" name="username" placeholder="Username or Email">
        </div>

        <div class="field">
            <input type="password" id="password" name="password" placeholder="Password">
        </div>

        <div class="field">
            <span id="error-message" class="empty error"></span>
        </div>

        <a id="submit" class="button">Login</a>
    </form>
    <div class="additional-options">
        <div>
            <a href="/account/forgot">Forgot Password ?</a>
        </div>
        <div>
            <span>or</span>
            <a href="/account/register">Create an Account</a>
        </div>
    </div>
</div>