<div class="sidebar">
    <!-- Phần Đầu Sidebar -->
    <div class="sidebar-header sidebar-fixed flex five">
        <div class="left">
            <button class="toggle-sidebar pseudo">☰</button>
        </div>
        <div class="mid three-fifth">
            <!-- Sử dụng một icon thay vì chữ "Toggle Sidebar" -->
            <a href="/admin/post-new" class="spa in-sidebar new-post" data-icon="+">
                New Post
            </a>
        </div>
        <div class="right">
            <a href="#" class="spa in-sidebar notify" data-count="10" data-icon="🔔"></a>
        </div>
    </div>

    <!-- Phần Giữa Sidebar -->
    <div class="sidebar-content">:: sidebar ::</div>

    <!-- Phần Cuối Sidebar -->
    <div class="sidebar-footer sidebar-fixed flex five">
        <div class="left">
            <a href="#" class="spa in-sidebar">
                <img src="avatar.jpg">
            </a>
        </div>
        <div class="mid three-fifth">
            <a href="#" class="spa in-sidebar admin-name">Admin Name</a>
        </div>
        <div class="right">
            <button class="pseudo">
                <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                    stroke-linejoin="round" class="icon-sm flex-shrink-0 text-gray-500 gizmo:hidden" height="1em"
                    width="1em" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="12" cy="12" r="1"></circle>
                    <circle cx="19" cy="12" r="1"></circle>
                    <circle cx="5" cy="12" r="1"></circle>
                </svg>
            </button>
        </div>
    </div>
</div>