body {
  background-color: #f5f5f5;
  font-family: "Arial", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.login {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 40px;
  max-width: 400px;
  width: 100%;
}
.login .login-form input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.login .login-form .field {
  margin-bottom: 20px;
}

.additional-options {
  margin-top: 20px;
}
.additional-options a {
  color: #4caf50;
  text-decoration: none;
  margin: 0 10px;
}
.additional-options span {
  color: #999;
}

.empty:empty {
  display: none;
}

.error {
  font-size: 0.92em;
  color: #eb5c5c;
}