.post-new{

    .editor {
        padding: 0;
        height: auto;
        max-height: none;
        min-height: 60px;
    }

    .props {
        &>*{
            padding: 0.25em 0.6em !important;
        }
        &>.arrow {
            padding-left: 1.6em !important;
            &::before {
                top: 20%;
            }
        }
    }
}