<div class="header">
    <h3 class="inline">Tạo thẻ Meta</h3>
    <a href="metas" class="spa button link">Xem danh sách</a>
</div>

<form>
    <table>
        <tbody>
            <tr>
                <td>Collection</td>
                <td><input type="text" class="input" name="collection"></td>
            </tr>
            <tr>
                <td>Type</td>
                <td><input type="text" class="input" name="type"></td>
            </tr>
            <tr>
                <td>Key</td>
                <td><input type="text" class="input" name="key"></td>
            </tr>
            <tr>
                <td>Value</td>
                <td><input type="text" class="input" name="value"></td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="meta-create-new">Lưu</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>